{% extends "index.html" %}

{% block conteudo %}
<div class="post">
  <p class="meta">Título do documento: <span class="posted">{{documento.titulo }}</span></p>
  <p class="meta">Tipo de documento: <span class="posted">  {{documento.natureza }}</span></p>
  <p class="meta">Autor:	<span class="posted">	 {{documento.autor }}</span></p>
  <p class="meta">Programa:	<span class="posted">	 {{documento.programa }}</span></p>
  <p class="meta">Criado em:	<span class="posted">	 {{documento.data_criacao }}</span></p>
  <p class="meta">Submetido em:	<span class="posted"> {{documento.data_submissao }}</span></p>
  <p class="meta">Por (Usuário):	<span class="posted"> {{documento.submetido_por }}</span></p>
  <p class="meta">Idioma:	<span class="posted">	 {{documento.idioma }}</span></p>
  <p class="meta">No. vizualizações:	<span class="posted"> {{documento.num_vizualizacoes }}</span></p>
  <p class="meta">Arquivo: <span class="posted">            <a href="file:{{ documento.arquivo.name }}">Download</a></span></p>
</div>
<br>

{% if documento.ligado.all %}
<h3> Documentos Relacionados: </h3:>
  <ul>
  {% for liga in documento.ligado.all %}
    <li> <a href="/documento/{{ liga.id }}">{{ liga.titulo }}</a></li>
 {% endfor %}
  </ul>
{% endif %}
{% if documento.ligacao.all %}
<h3> Documentos Relacionados: </h3:>
  <ul>
  {% for liga in documento.ligacao.all %}
    <li> <a href="/documento/{{ liga.id }}">{{ liga.titulo }}</a></li>
  {% endfor %}
  </ul>
{% endif%}

<br>

{% if documento.comentario_set.all %}
<h3> Comentarios: </h3:
  <ul>
  {% for comentario in documento.comentario_set.all %}
    <li> {{ comentario.texto }} -- {{ comentario.usuario.nome }} </li>
 {% endfor %}
  </ul>
{% endif%}

<br>


<h3>Comente:</h3>
<div id="comment">
  <form action="/documento/{{documento.id}}/comenta/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <!-- {{ form.usuario.errors }} -->
    <!-- <label for="usuario">Usuário (login):</label> -->
    <!-- {{ form.usuario }} -->
    <input type="submit" value="Submit" />
  </form>
</div>


{% endblock %}

{% block menu %}
<li><a href="/">Home</a></li>
<li><a href="/usuarios">Usuarios</a></li>
<li><a href="/keywords">Keywords</a></li>
<li><a href="/programas">Programas</a></li>
<li class="current_page_item"><a href="/documentos">Documentos</a></li>
<li><a href="/idiomas">Idiomas</a></li>
<li><a href="#">Contact</a></li>
{% endblock %}
