{% extends "index.html" %}

{% block conteudo %}

{% if usuario_list %}
    <ul>
    {% for usuario in usuario_list %}
        <li><a href="/usuario/{{ usuario.login }}/">{{ usuario.nome }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Nenhum usuário cadastrado.</p>
{% endif %}

{% endblock %}

{% block menu %}
<li><a href="#">Home</a></li>
<li class="current_page_item"><a href="#">Usuarios</a></li>
<li><a href="#">Keywords</a></li>
<li><a href="#">Programas</a></li>
<li><a href="#">Contact</a></li>
{% endblock %}
